<form tcFirstLastValidator class="w-25 m-2 bg-primary" (ngSubmit)="onSubmitForm(creationColleagueForm)"
  #creationColleagueForm="ngForm">
  <div *ngIf="creationColleagueForm.errors">
    {{ creationColleagueForm.errors['firstLast'] | json }}
  </div>
  <div class="mb-1 p-1">
    <label class="form-label">Pseudo</label>
    <input tcPseudoValidator type="text" class="form-control" [(ngModel)]="creationColleague.pseudo" name="pseudo"
      #pseudoLocal="ngModel" required>
    <p *ngIf="pseudoLocal.errors && pseudoLocal.dirty">
      le pseudo {{ pseudoLocal.value }} existe déjà!
    </p>
  </div>
  <div class="mb-1 p-1">
    <label class="form-label">Nom</label>
    <input type="text" class="form-control" [(ngModel)]="creationColleague.last" name="last" #lastLocal="ngModel"
      required minlength="2">
    <p *ngIf="!lastLocal.valid && !lastLocal.pristine">
      Le nom doit avoir au moins deux lettres
    </p>
  </div>
  <div class="mb-1 p-1">
    <label for="prenom" class="form-label">Prénom</label>
    <input type="text" class="form-control" [(ngModel)]="creationColleague.first" name="first" #firstLocal="ngModel"
      required minlength="2">
    <p *ngIf="!firstLocal.valid && !firstLocal.pristine">
      Le prénom doit avoir au moins deux lettres
    </p>
  </div>
  <div class="mb-1 p-1">
    <label for="photo" class="form-label">Photo</label>
    <input type="text" class="form-control" id="photo" name="photo" [(ngModel)]="creationColleague.photo" required>
  </div>
  <button type="submit" class="btn btn-secondary w-100" [disabled]="creationColleagueForm.invalid">Ajouter</button>
  <div *ngIf="errorReturned">{{errorReturned}}</div>
</form>