<form class="bg-warning col-sm-4 mx-auto mt-5" [formGroup]="authReactiveForm">

  <div class="mx-2">
    <label class="form-label mb-1 p-1">Pseudo : </label>
    <input class="form-control" formControlName="pseudo">

    <label class="form-label mb-1 p-1">Mot de passe : </label>
    <input class="form-control" type="password" formControlName="motDePasse">

    <button class="btn btn-primary my-2 p-1" (click)="onSubmit()" [disabled]="!authReactiveForm.valid">Se
      connecter</button>
  </div>

  <div *ngIf="errorReturned">
    L'authentification a échoué : {{ errorReturned }}
  </div>

</form>